<html lang="en">
    <%- include('../partials/head'); %>
<body>
    <%- include('./partials/header'); %>
    <section class="dashboard">
        <%- include('./partials/nav'); %>
        <section class="third-nav donater"> 
            <% if (locals.currentUser.donationPlan){%>
                <p>Your donation plan is <span style="font-family: Poppins; color: var(--green); "><%=locals.currentUser.donationPlan%></span></p>
                <%} %>
            <form action="/donate" method="post" class="donate-form" style="margin-block-start: -4rem;">
                <h3>Welcome to Donation center</h3>
                <div>
                    <label for="donate">please select your plan</label>
                    <select name="donationPlan" id="donate">
                        <option value="monthly">monthly</option>
                        <option value="quarterly">quarterly</option>
                        <option value="yearly">yearly</option>
                        <option value="lifeTime">life time</option>
                    </select> 
                </div>
                <button type="submit">Confirm</button>
                
            </form>
            <section class="donate-p2" style="margin-block-start: -3rem;">
                <h2>For donation:</h2>
                <ul>
                    <li>Nib Bank: <span>7000050152907</span></li>
                    <li>Enat Bank: <span>061113295573400</span></li>
                    <li>CBE: <span>1000486851841</span></li>
                </ul>
            </section>
        </section>
</section>
    </section>
       <%- include('../partials/footer') %>
</body>
</html>
